<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hello World</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="style.css">
    <script src="js/custom.js"></script>
</head>

<body>
    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-2 order-lg-1">
                        <div class="site-branding">
                            <div class="site-title">
                                <a href="#"><img src="images/logo.png" alt="logo"></a>
                            </div><!-- .site-title -->
                        </div><!-- .site-branding -->
                    </div><!-- .col -->

                    <div class="col-2 col-lg-7 order-3 order-lg-2">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->

                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Events</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav><!-- .site-navigation -->
                    </div><!-- .col -->

                    <div class="col-lg-3 d-none d-lg-block order-2 order-lg-3">
                        <div class="buy-tickets">
                            <a class="btn gradient-bg" href="#">Buy Tickets</a>
                        </div><!-- .buy-tickets -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container-fluid -->
        </div><!-- .header-bar -->

        <div class="swiper-container hero-slider">
            <div class="swiper-wrapper">

                {{#each slider}}
                <div class="swiper-slide" data-date="2019/05/01"
                    style="background-size: cover !important; background: url('{{this.image}}'); background-repeat: no-repeat; ">
                    <div class="hero-content">
                        <div class="container">
                            <div class="row">
                                <div class="col flex flex-column justify-content-center">
                                    <div class="entry-header">


                                        <h2 class="entry-title">{{this.text}}</h2>
                                    </div><!--- .entry-header -->

                                    <div class="entry-footer">
                                        <a class="btn gradient-bg" href="{{this.link}}">{{this.link_text}}</a>
                                    </div><!-- .entry-footer" -->
                                </div><!-- .col -->
                            </div><!-- .container -->
                        </div><!-- .hero-content -->
                    </div><!-- .swiper-slide -->
                </div><!-- .swiper-wrapper -->
                {{/each}}


            </div>

            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>

            <!-- Add Arrows -->
            <div class="swiper-button-next flex justify-content-center align-items-center">
                <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z" />
                    </svg></span>
            </div>

            <div class="swiper-button-prev flex justify-content-center align-items-center">
                <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z" />
                    </svg></span>
            </div>
        </div><!-- .swiper-container -->
    </header><!-- .site-header -->

    <div class="homepage-info-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-5">
                    <figure>
                        <img src="images/logo-2.png" alt="logo">
                    </figure>
                </div>

                <div class="col-12 col-md-8 col-lg-7">
                    <header class="entry-header">
                        <h2 class="entry-title">What is Buffer Events and why choose our services?</h2>
                    </header>

                    <div class="entry-content">
                        <p>Buffer Events is a technical event management startup founded by a group of engineering
                            students
                            who are passionate about organizing innovative and engaging events in colleges. The primary
                            focus of the company is to organize technical events such as Capture The Flag (CTF)
                            competitions, hackathons, and other such technical challenges.

                            The team at Buffer Events consists of experienced event organizers, who have a deep
                            understanding of the technical domain, which enables them to create unique and challenging
                            competitions for the participants. They work closely with colleges to understand their
                            requirements and expectations, and tailor the events accordingly.

                            The company's tagline "Celebrations Reimagined" reflects its commitment to delivering
                            exceptional events that go beyond the traditional, mundane college events. Buffer Events
                            believes that technical events can be engaging, fun, and challenging, all at the same time.
                            They
                            strive to create an atmosphere where participants can learn, explore, and challenge
                            themselves
                            while having a good time.

                        </p>
                    </div>

                    <footer class="entry-footer">
                        <a href="#" class="btn gradient-bg">Read More</a>
                        <a href="#" class="btn dark">Register Now</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <div class="homepage-featured-events">
        <div class="container">
            <div class="row">
                <div class="next-events-section-header">
                    <h2 style="color: aliceblue;" class="entry-title">Our Featured Events</h2>

                </div>
            </div>
            <div class="row">

                <div class="col-12">
                    <div class="featured-events-wrap flex flex-wrap justify-content-between">
                        {{#each events}}
                        <div class="event-content-wrap positioning-event-{{this.num}}">
                            <figure>
                                <a href="#"><img src="{{this.event_image}}" alt="{{this.num}}"></a>
                            </figure>

                            <header class="entry-header">
                                <h3 class="entry-title">{{this.event_description}}</h3>

                                <div class="posted-date">{{this.event_date}}</div>
                            </header>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="homepage-next-events">
        <div class="container">
            <div class="row">
                <div class="next-events-section-header">
                    <h2 class="entry-title">Our Next Events</h2>

                </div>
            </div>

            <div class="row">
                {{#each upevents}}
                <div class="col-6 col-sm-6 col-md-6">
                    <div class="next-event-wrap">
                        <figure>
                            <a href="#"><img src="{{this.event_image}}" alt="{{this.num}}"></a>
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">{{this.event_name}}</h3>

                            <div class="posted-date"> <span>{{this.event_date}}</span></div>
                        </header>

                        <div class="entry-content">
                            <p>{{this.event_desc}}</p>
                        </div>

                        <footer class="entry-footer">
                            <a href="{{this.link}}">Buy Tikets</a>
                        </footer>
                    </div>
                </div>
                {{/each}}


            </div>
        </div>
    </div>

    <div class="homepage-regional-events">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header
                        class="regional-events-heading entry-header flex flex-wrap justify-content-between align-items-center">
                        <h2 class="entry-title">Gallery</h2>
                    </header>

                    <div class="swiper-container homepage-regional-events-slider">
                        <div class="swiper-wrapper">
                            {{#each maingallery}}
                            <div class="swiper-slide">
                                <figure>
                                    <img src="{{this.event_image}}" alt="{{this.num}}">

                                    <a class="event-overlay-link flex justify-content-center align-items-center"
                                        href="#">+</a>
                                </figure><!-- .hero-image -->
                            </div><!-- .swiper-slide -->
                            {{/each}}

                        </div><!-- .swiper-wrapper -->

                        <!-- Add Arrows -->
                        <div class="swiper-button-next flex justify-content-center align-items-center">
                            <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z" />
                                </svg></span>
                        </div>

                        <div class="swiper-button-prev flex justify-content-center align-items-center">
                            <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z" />
                                </svg></span>
                        </div>
                    </div><!-- .swiper-container -->
                    <style>
                        .event-partner-logo img {
                            filter: invert(100%);
                            transition: filter 0.3s ease-in-out;
                        }

                        .event-partner-logo:hover img {
                            filter: none;
                        }
                    </style>
                    <div class="events-partners">
                        <header class="entry-header">
                            <h2 class="entry-title">Partners</h2>
                        </header>

                        <div class="events-partners-logos flex flex-wrap justify-content-between align-items-center">

                            {{#each partners}}
                            <div class="event-partner-logo col-lg-6 col-sm-6 col-md-6 blink-animation ">
                                <a href="#"><img src="{{this.event_image}}" alt="{{this.num}}"></a>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="newsletter-subscribe">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header class="entry-header">
                        <h2 class="entry-title">Request an event for your college!</h2>
                        <p>We will call you back!</p>
                    </header>

                    <div class="newsletter-form">
                        <form method="POST" action="/eventReg" class="flex flex-wrap justify-content-center align-items-center">
                            <div class="col-md-6 col-lg-6">
                                <input type="text" name="name" placeholder="Name">
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <input type="text" name="phone" placeholder="Phone">
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <input type="text" name="college" placeholder="College">
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <input type="email" name="email" placeholder="Your e-mail">
                            </div>
                            
                            
                            <div class="col-md-6 col-lg-6">
                                <label>
                                    <br>
                                    Hackathon
                                    <input type="radio" name="type" value="Hackathon">
                                </label>


                            </div>
                            <div class="col-md-6 col-lg-6">
                                <label>
                                    <br>
                                    Workshop
                                    <input type="radio" name="type" value="Workshop">

                                </label>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <label>
                                    <br>
                                    CTF
                                    <input type="radio" name="type" value="CTF">

                                </label>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <label>
                                    <br>
                                    Hyperlink
                                    <input type="radio" name="type" value="Hyperlink">

                                </label>
                            </div>


                            <div class="col-md-6 col-lg-6">
                                <input class="btn gradient-bg" type="submit" value="Request">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        label {
            color: white;
            display: flex;
            align-items: center;
            font-weight: bold;
            justify-content: flex-end;

        }

        input[type="radio"] {
            margin-right: 5px;
            height: 25px;
            width: 25px;

        }
    </style>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure class="footer-logo">
                        <a href="#"><img src="images/logo.png" alt="logo"></a>
                    </figure>

                    <nav class="footer-navigation">
                        <ul class="flex flex-wrap justify-content-center align-items-center">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>

                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                    <div class="footer-social">
                        <ul class="flex flex-wrap justify-content-center align-items-center">
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="back-to-top flex justify-content-center align-items-center">
        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M1395 1184q0 13-10 23l-50 50q-10 10-23 10t-23-10l-393-393-393 393q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l466 466q10 10 10 23z" />
            </svg></span>
    </div>

    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/masonry.pkgd.min.js'></script>
    <script type='text/javascript' src='js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='js/swiper.min.js'></script>
    <script type='text/javascript' src='js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='js/circle-progress.min.js'></script>
    <script type='text/javascript' src='js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='js/custom.js'></script>

</body>

</html>